# Created by .ignore support plugin (hsz.mobi)
.idea/
spring-security-x509.iml
spring-security-x509-basic-auth/rest.iml
spring-security-x509-client-auth/spring-security-x509-client-auth.iml
spring-security-x509-mutual-auth/rpring-security-x509-mutual-auth.iml


